  <div id="favorite_form">
    <% if micropost.favorited_by?(current_user)%>
        <p><span><%= micropost.favorites.count %></span><%= button_to 'お気に入りを削除', micropost_favorites_path(micropost_id: micropost.id), method: :delete  %></p>
        <div><%= hidden_field_tag :favorite_id, micropost.id %></div>
    <% else %>
        <p><span><%= micropost.favorites.count %></span><%= button_to 'お気に入り登録', micropost_favorites_path(micropost_id: micropost.id), method: :post  %></p>
        <div><%= hidden_field_tag :favorite_id, micropost.id %></div>
    <% end %>
  </div>
</li>
