<div class="micropost-contents"  style="padding-top: 20px">
  <% @microposts.each do |micropost| %>
    <div class="micropost-content">
      <%= link_to micropost_path(micropost), class:"micropost-select" do %>
        <span style="font-size: 18px;">
          <%= micropost.title.truncate(15) %>
        </span>

        <div style="position: relative;">
          <%= micropost.content.truncate(40) %>
        </div>
      <% end %>
    </div>
  <% end %>

  <h3>タグ一覧
    <%= @tag_list.each do |tag| %>
      <div>
        <%= link_to tag_microposts_path(tag_id: tag.id) do %>
          <%= tag.tag_name %>
        <% end %>
      </div>
    <% end %>
</div>
