<div class="row">
  <aside class="col-md-4">
    <section class="micropost_info">
      <h1>
        <%= @micropost.title %>
      </h1>
    </section>
  </aside>

      <h2>
        <%= @micropost.content %>
      </h2>

    <% @micropost.tags.each do |tag| %>
        <%= link_to tag.tag_name, tag_microposts_path(tag_id: tag.id) %>
    <% end %>

  <% if user_signed_in? %>
    <span class="favorite_<%= @micropost.id %>" >
      <%= render "microposts/favorite", micropost: @micropost %>
    </span>
  <% else %>
      <i class="fas fa-heart" style="color: #F96167"></i>
      <span style="color:black">
        <%= micropost.favorites.count %>
      </span>
  <% end %>


  <h3>コメント一覧</h3>
    <% @comments.each do |comment| %>
      <div>
        <a href="/users/<%= comment.user.id %>"><%= comment.user.name %></a>
        <%= comment.content %>
        <hr>

        <% if current_user == comment.user %>
          <%= button_to 'コメントを削除する', micropost_comment_path(comment_id: comment.id, micropost_id: comment.micropost.id), method: :delete %>
        <% end %>
      </div>
    <% end %>


  <% if user_signed_in? %>
    <div class="row" style="margin-top: 30px">
      <div class="col-lg-12 col-12">
        <%= form_for [@micropost, @comment] do |f| %>
          <%= f.label :content, 'コメント'%>
          <%= f.text_area :content, rows:"2", class:"font-md-sp" %><br>
          <%= f.submit "コメントする", class:"btn btn-warning submit-btn" %>
        <% end %>
      </div>
    </div>
		<% end %>
</div>
